<section style="background-color: coral; width: 20vw;">
    
    <ul>
         <li>
            <a href="/personalpreview/:paramID">Personal</a>
        </li>
        <li>
            <a href="">Qualification</a>
        </li>
         <li>
            <a href="">PHD</a>
        </li>
         <li><a href="">Experience</a>
        </li> 
        </ul>
    </section>